In [1]:
import json
import numpy as np
import os
import pandas as pd
import urllib3
import urllib.request

In [51]:
#coins = ['BTC', 'LTC', 'ETH', 'XRP']
coins = ['BTC']
df_list=[]

container = []

for coin in coins:
    url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_'+coin+'&start=1615958071&end=1618636471&period=300'
    openUrl = urllib.request.urlopen(url)
    r = openUrl.read()
    openUrl.close()
    d = json.loads(r.decode())
    dfx = pd.DataFrame(d)
    dfx['coin'] = coin
    container.append(dfx)
    print(pd.DataFrame(d).shape)
    
container = pd.concat(container, axis = 0)
print('Returned length of {0} coins: {1}'.format(len(coins), container.shape))


# format
original_columns=[u'close', u'date', u'high', u'low', u'open']
new_columns = ['Close','Timestamp','High','Low','Open']
container = container.loc[:,original_columns]
container.columns = new_columns
container.to_csv('data/bitcoin2015to2017.csv',index=None)

# export out
h5path = 'data/4coins_17apr2021.h5'
container.to_hdf(h5path, key='df', mode='w')
#container.to_csv('data/4coins_17apr2021.csv',index=None)

(8929, 8)
Returned length of 1 coins: (8929, 9)

In [52]:
# validate returns
container.head()

          Close   Timestamp          High           Low          Open
0  55336.296852  1615958071  55336.296852  55336.296852  55336.296852
1  55429.296157  1615958100  55523.348677  55336.296862  55336.296862
2  55516.176156  1615958400  55516.176156  55369.797966  55416.000724
3  55621.810276  1615958700  55621.810276  55495.146099  55532.556327
4  55533.539605  1615959000  55655.058004  55532.898513  55606.067775